@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/nKKZ-Go6G5tXcraVGwU.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/nKKU-Go6G5tXcr5mOBWnVaQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/nKKU-Go6G5tXcr5KPxWnVaQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/nKKU-Go6G5tXcr4uPhWnVaQ.ttf) format('truetype');
}
